/*this stylesheet is for the main content in listing_item_page*/
ul {
    list-style-type: none;
}
ul#side-tabs li strong{
    background-color: white;
    color: gray;
    margin-bottom: 20px;
}
ul#side-tabs {
    float: left;
    width: 200px;
    padding-left: 0;
    margin-left: 2%;
}
ul#side-tabs li{
    font-size: 20px;
}


ul#side-tabs li a {
    display: block;
    padding: 10px 15px;
    color: cornflowerblue;
    text-align: left;
    text-decoration: none;
}

ul#side-tabs li a:hover {
    background-color: seagreen;
    color: white;
}

ul#side-tabs li a.selected {
    background-color: lightblue;
    color: white;
}

#eventBoxes {
    margin-left: 15%;
    min-height: 300px;
}

.eventBlock {
    display: flex;
    justify-content: flex-start;
    margin-top: 2%;
}

.eventImage {
    grid-area: event-image;
}

.eventImage a img {
    width: 200px;
    height: 200px;
}

.eventInfo {
    grid-area: event-info;
}

.eventTitle {
    font-weight: bold;
}

.eventButton {
    grid-area: add-event-button;
    padding: 0.5em;
    font-size: 14px;
    place-self: end start;
    grid-column: 2;
    grid-row: 3;
    border-radius: 12px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.eventButton img {
    width: 30px;
    height: 30px;

}
.attendees {
    margin-top: 20px;
    display: flex;
    font-size: 18px;
    color: lightseagreen;
    flex-direction: row;
}

@media all and (min-width: 768px) {
    .eventButton {
        margin-left: 0.5em;
        grid-area: add-event-button;
        padding: 0.5em;
        font-size: 14px;
        place-self: end start;
        grid-column: 2;
        grid-row: 3;
        border-radius: 12px;
    }

    .eventButton a img {
        width: 50px;
        height: 50px;

    }
}
