h2{
     margin-left: 100px;
}
form.registerUser{
    align-items: start;
    margin-left: 100px;

}
#submitButton{
    margin-left: 400px;
}

.userGender{
    font-weight: bold;
    margin-right: 10px;
}
p.div{
    font-weight: bold;
}