{% extends "events/base.html" %}
{% block page-title %}Profile Page for {{ user.name }}{% endblock %}
{% load static %}
{% block content %}
    <script src="{% static "js/profile.js" %}"></script>
    <link href="{% static "css/profile_page.css" %}" rel="stylesheet">
    <h2>Profile of {{ user.username }}
        {% if request.session.username == user.username or request.session.role == "admin" %}
            <button id="editButtonProfile"><a href="{% url "users:edit_profile" user.username %}">Edit This Profile</a>
            </button>
        {% endif %}</h2>
    <ul id="userInfoBlock">
        <li class="userData">
            <span class="userInfoTitle">Username:</span>
            <span>{{ user.username }}</span>
        </li>
        <li class="userData"><span class="userInfoTitle">First Name:</span>
            {% if user.first_name %}
                <span> {{ user.first_name }}</span>
            {% else %}
                <span> Not Disclosed</span>
            {% endif %}
        </li>
        <li class="userData"><span class="userInfoTitle">Last Name:</span>
            {% if user.last_name %}
                <span> {{ user.last_name }}</span>
            {% else %}
                <span> Not Disclosed</span>
            {% endif %}
        </li>
        <li class="userData">
            <span class="userInfoTitle">Email Address:</span> <span>{{ user.email }}</span>
        </li>
        <li class="userData"><span class="userInfoTitle">Gender:</span> <span>{{ user.details.gender }}</span></li>
        <li class="userData"><span class="userInfoTitle">Role: </span><span
                id="new-role"> {{ user.details.role }}</span></li>
    </ul>

    <h3>Recent Activities From this User</h3>
    <section id="recentActivities">
        {% include "actions/action/activity.html" %}
    </section>
    {% if request.session.role == "admin" %}
        <h4>For Admin Only</h4>
        <div id="roleChange">
        <label for="role-options">Do you want change this user's role</label>

            <select id="role-options" name="role-options"
                    data-operator-name="{{ request.session.username }}" data-ajax-url="{% url "users:change_role" %}"
                    data-user-id="{{ user.id }}">
                <option value="admin">Admin</option>
                <option value="regular">Regular</option>
                <option value="unregister">Unregister</option>
            </select>
            <button id="submitButton" type="submit" value="submit">Submit</button>
        </div>
    {% endif %}

{% endblock %}