{% extends "events/base.html" %}
{% block page-title %}Register a user{% endblock %}
{% load static %}
{% block content %}
    {#    <link type="text/css" href="{% static "css/add_new_event.css" %}" rel="stylesheet">#}
    {# when user is passing, display the edit profile view#}
    {% if user_account %}
        <h2>Edit Profile Information</h2>
        <form class="registerUser" name="edit-user" method="POST">
            {% csrf_token %}
            <p> * = required.</p>
            <p class="userName">
                <strong>Username *</strong>
                <input type="text" id="userNameInput" name="username" value="{{ user_account.username }}" disabled>
            </p>
            <p class="firstName">
                <strong>First Name *</strong>
                <input type="text" id="userNameInput" name="firstname" value="{{ user_account.first_name }}" required>
            </p>
            <p class="lastName">
                <strong>Last Name *</strong>
                <input type="text" id="userNameInput" name="lastname" value="{{ user_account.last_name }}" required>
            </p>
            <p class="userEmail">
                <strong>Email Address *</strong>
                <input type="email" id="userEmailInput" name="email" value="{{ user_account.email }}" required>
            </p>
            <p class="userPassword">
                <strong>Password</strong>
                <input type="password" id="userPasswordInput" value="{{ user_account.password }}" name="password" required>
            </p>
            <p class="userGender">
              <div> Gender</div>
                <label for="male">Male</label>
                <input type="radio" id="male" name="gender" value="male"/>
                <label for="female">Female</label>
                <input type="radio" id="female" name="gender" value="female"/>
                <label for="other">Others</label>
                <input type="radio" id="others" name="gender" value="others"/>
                <label for="notDisclose">Not Disclose</label>
                <input type="radio" id="notDisclose" name="gender" value="not disclosed" checked/>
            </p>
            <input id="submitButton" type="submit" value="submit">
        </form>
    {% else %}
        {# when user is not passing, display the add profile view#}
        <h2>Register User Account</h2>
        <form class="registerUser" name="register user"
              action="{% url "users:register" %}" method="POST">
            {% csrf_token %}
            <p> * = required.</p>
            <p class="userName">
                <strong>Username *</strong>
                <input type="text" id="userNameInput" name="username" required>
            </p>
            <p class="firstName">
                <strong>First Name *</strong>
                <input type="text" id="userNameInput" name="firstname" value="" required>
            </p>
            <p class="lastName">
                <strong>Last Name *</strong>
                <input type="text" id="userNameInput" name="lastname" value="" required>
            </p>
            <p class="userEmail">
                <strong>Email Address *</strong>
                <input type="email" id="userEmailInput" name="email" required>
            </p>
            <p class="userPassword">
                <strong>Password *</strong>
                <input type="password" id="userPasswordInput" name="password" required>
            </p>
            <p class="userGender">
            <div> Gender</div>
            <label for="male">Male</label>
            <input type="radio" id="male" name="gender"/>
            <label for="female">Female</label>
            <input type="radio" id="female" name="gender"/>
            <label for="other">Others</label>
            <input type="radio" id="others" name="gender"/>
            <label for="notDisclose">Not Disclose</label>
            <input type="radio" id="notDisclose" name="gender"/>
            </p>
          <input id="submitButton" type="submit" value="submit">
        </form>
    {% endif %}
{% endblock %}